.care {
  background-image: url("../img/bg-care-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $width-desktop) {
    background-image: url("../img/bg-care-desktop@1x.jpg");
    background-position: 0 0;
  }

  &__title {
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px;

    @media (min-width: $width-tablet) {
      padding-top: 90px;
      margin-bottom: 38px;
    }

    @media (min-width: $width-desktop) {
      padding-top: 84px;
      margin-bottom: 48px;
    }
  }

  &__list {
    @include no-list;
    padding-bottom: 45px;

    @media (min-width: $width-tablet) {
      padding-bottom: 75px;
    }

    @media (min-width: $width-desktop) {
      display: flex;
      flex-wrap: wrap;
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__item {
    border: 0.5px solid rgba(160, 123, 80, 0.41);
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 25px 54px 25px 25px;
    max-width: 500px;
    position: relative;
    transition: 0.3s;

    @media (min-width: $width-tablet) {
      max-width: 600px;
      padding: 35px 110px 30px 45px;
    }

    @media (min-width: $width-desktop) {
      max-width: 558px;
      padding: 35px 110px 20px 45px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 46px;
      height: 100%;
      background-color: $text;
      top: 0;
      right: 0;
      transition: 0.3s;

      @media (min-width: $width-tablet) {
        width: 60px;
      }
    }

    &::after {
      position: absolute;
      background-image: url("../img/arrow-right-mobile.svg");
      background-repeat: no-repeat;
      content: "";
      width: 18px;
      height: 26px;
      top: calc(50% - 5px);
      right: 8px;

      @media (min-width: $width-tablet) {
        right: 15px;
      }
    }

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.5);
      border: 0.5px solid $text;


      &::before {
        background-color: rgba(160, 123, 80, 0.5);
      }
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0.7;
    }
  }

  &__item-link {
    text-decoration: none;
    color: $white;
  }

  &__item-title {
    @include zero-indent;
    @include text(18px, 21px);
    font-weight: 700;
    color: $text;
    margin-bottom: 20px;

    @media (min-width: $width-tablet) {
      @include text(22px, 26px);
    }

    @media (min-width: $width-desktop) {
      margin-bottom: 10px;
    }
  }

  &__item-text {
    @include text(14px, 20px);
    font-weight: 300;

    @media (min-width: $width-tablet) {
      @include text(14px, 23px);
      margin-top: 0;
    }
  }
}
