.page-footer {
  &__contacts-adress {
    @include text(14px, 20px);
    font-weight: 400;
    color: #d6ccc2;

    @media (min-width: $width-tablet) {
      @include text(14px, 27px);
    }
  }

  &__contacts-phone {
    @include text(14px, 20px);
    font-weight: 400;
    color: #d6ccc2;
    text-decoration: none;

    @media (min-width: $width-tablet) {
      @include text(14px, 27px);
      ont-weight: 700;
    }
  }
}
