.pets {
  background-color: #1f1c1d;

  &__list {
    @include no-list;
  }

  &__item-link {
    @include text(16px, 19px);
    text-decoration: none;
    font-weight: 500;
    color: $white;
    opacity: 0.2;

    @media (min-width: $width-tablet) {
      @include text(18px, 21px);
    }

    &--active {
      opacity: 1;

      @media (min-width: $width-tablet) {
        @include text(18px, 21px);
      }
    }
  }
}
