.pets {
  background-color: #1f1c1d;
  padding-top: 60px;
  margin-bottom: 60px;

  @media (min-width: $width-tablet) {
    padding-top: 100px;
    margin-bottom: 90px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    margin-bottom: 30px;

    @media (min-width: $width-tablet) {
      width: 75%;
      margin: 0 auto;
      margin-bottom: 38px;
    }
  }

  &__list {
    @include no-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 85%;

    @media (min-width: $width-tablet) {
      width: 45%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__item-link {
    @include text(16px, 19px);
    text-decoration: none;
    font-weight: 500;
    color: $white;
    opacity: 0.2;

    @media (min-width: $width-tablet) {
      @include text(18px, 21px);
    }

    &--active {
      opacity: 1;

      @media (min-width: $width-tablet) {
        @include text(18px, 21px);
      }
    }
  }

  &__slider-image {
    display: block;
    margin: 0 auto;

    @media (min-width: $width-tablet) {
      width: 474px;
      height: 490px;
    }
  }

  &__slider-image--1,
  &__slider-image--3 {
    @media (min-width: $width-mobile) {
      display: none;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
  }

  &__slider {
    position: relative;
    margin-bottom: 45px;

    @media (min-width: $width-tablet) {
      margin-bottom: 55px;
    }
  }

  &__slider-arrow {
    background-color: inherit;
    border: none;
    position: absolute;

    @media (min-width: $width-tablet) {
      svg {
        width: 50px;
        height: 30px;
      }
    }

    &--prev {
      left: 0;
      top: 50%;
    }

    &--next {
      right: 0;
      top: 50%;
    }
  }
}
