.question {
  padding-top: 60px;

  @media (min-width: $width-tablet) {
    padding-top: 130px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;

    @media (min-width: $width-tablet) {
      margin-bottom: 50px;
    }
  }

  &__list {
    @include no-list;
    counter-reset: myCounter;

    @media (min-width: $width-tablet) {
      padding-left: 130px;
    }
  }

  &__item {
    margin-bottom: 30px;
    position: relative;

    @media (min-width: $width-tablet) {
      &::after {
        @include text(50px, 59px);
        position: absolute;
        top: 10px;
        left: -83px;
        counter-increment: myCounter;
        content: "0" counter(myCounter);
        font-weight: 700;
        color: $text;
        font-size: 50px;
      }
    }
  }

  &__item-title {
    @include text(14px, 20px);
    position: relative;
    font-weight: 400;
    color: $text-question;
    margin: 0;
    padding: 10px 15px;
    border: 0.5px solid rgba(160, 123, 80, 0.25);
    background-color: inherit;
    cursor: pointer;
    width: 100%;
    padding-right: 50px;
    text-align: left;

    @media (min-width: $width-tablet) {
      padding: 20px 150px 20px 30px;
      min-height: 77px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 43px;
      height: 100%;
      background-color: inherit;
      border-left: 0.5px solid rgba(160, 123, 80, 0.25);
      right: 0;
      top: 0;

      @media (min-width: $width-tablet) {
        width: 80px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/plus.svg");
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      right: 13px;

      @media (min-width: $width-tablet) {
        right: 30px;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    @media (min-width: $width-tablet) {
      @include text(16px, 19px);
    }
  }

  &__item-text {
    @include text(14px, 20px);
    font-weight: 300;
    color: $text-question;
    border: 0.5px solid rgba(160, 123, 80, 0.25);
    border-top: none;
    margin: 0;
    padding: 10px 17px 10px 10px;


    @media (min-width: $width-tablet) {
      @include text(16px, 25px);
      padding: 20px 150px 20px 30px;
    }
  }
}
