// Шрифты
$font-main: "Roboto", "Arial", sans-serif;
$font-secondary: "Yeseva One", "Arial", sans-serif;

// Цвета
$black: #000000;
$text: #a07b50;
$white: #ffffff;
$text-question: #ddd0c3;

// Размеры
$width-mobile: 320px;
$width-mobile-only: 767px;
$width-tablet: 768px;
$width-tablet-only: 1285px;
$width-desktop: 1286px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
